@model IEnumerable<EntityLayer.Concrate.Blog>
@{
    ViewBag.Title = "AdminBlogList2";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Bloglar</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>

            </div>
        </div>
        <div class="card-body p-0">
            <table class="table table-striped projects table-hover">
                <thead>
                    <tr>
                        <th style="width: 1%">
                            ID
                        </th>
                        <th style="width: 10%">
                            Blog Başlığı
                        </th>
                        <th>
                            Blog İçeriği
                        </th>
                        <th width="8%">
                            Yazarı
                        </th>
                        <th style="width:10%">
                            Blog Bar
                        </th>
                        <th style="width: 8%" class="text-center">
                            Kategori
                        </th>
                        <th style="width: 20%">

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {


                        <tr>
                            <td> @item.BlogID  </td>
                            <td> @item.BlogTitle </td>
                            <td>@item.BlogContent.Substring(0, item.BlogContent.Substring(0, 200).LastIndexOf(" ")) ...  </td>
                            <td> 
                                
                                        <img alt="Avatar" class="table-avatar"  src="@item.Author.AuthorImage">
                                        <br />
                                        <small>
                                            @item.Author.AuthorName
                                        </small>
                            </td>
                            <td class="project_progress">
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-green" role="progressbar" aria-volumenow="57" aria-volumemin="0" aria-volumemax="100" style="width: 57%">
                                    </div>
                                </div>
                                <small>
                                    57% Complete
                                </small>
                            </td>
                            <td class="project-state">
                                <span class="badge badge-secondary">@item.Category.CategoryName</span>
                            </td>
                            <td class="project-actions text-right">
                                <a class="btn btn-primary btn-sm" href="/Blog/BlogDetails/@item.BlogID">
                                    <i class="fas fa-folder">
                                    </i>
                                    Gorüntüle
                                </a>
                                <a class="btn btn-info btn-sm" href="/Blog/UpdateBlog/@item.BlogID">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Düzenle
                                </a>
                                <a class="btn btn-warning btn-sm" href="/Blog/GetCommentByBlog/@item.BlogID">
                                    <i class="fas fa-comment">
                                    </i>
                                    Yorumlar
                                </a>
                                <a class="btn btn-danger btn-sm" href="/Blog//DeleteBlog/@item.BlogID">
                                    <i class="fas fa-trash">
                                    </i>
                                    Sil
                                </a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>
<a href="/Blog/AddNewBlog" class="btn btn-success fa fa-plus">Yeni Blog Ekle</a>

