@model IEnumerable<EntityLayer.Concrate.Blog>
@{
    ViewBag.Title = "BlogByCategory";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@{string color = "";}

<div class="site-cover site-cover-sm same-height overlay single-page" style="background-image:url(/miniblog/images/blog.jpg);opacity:0.9">
    <div class="container">
        <div class="row same-height  ">
            <div class="col-md-10">
                <h3 style="color:white;padding-bottom:10px">@ViewBag.CategoryName</h3>
                <p style="color:lightgrey;font-size:17px">@ViewBag.CategoryDescription</p>
            </div>
        </div>
    </div>
</div>
<div class="site-section bg-white">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                if (item.Category.CategoryName == "Teknoloji")
                {
                    color = "post-category text-white bg-primary mb-3";
                }
                if (item.Category.CategoryName == "Tarih")
                {
                    color = "post-category text-white bg-danger mb-3";
                }
                if (item.Category.CategoryName == "Film & Dizi")
                {
                    color = "post-category text-white bg-warning mb-3";
                }
                if (item.Category.CategoryName == "Yazılım")
                {
                    color = "post-category text-white bg-success mb-3";
                }
                if (item.Category.CategoryName == "Kültür&Sanat")
                {
                    color = "post-category text-white bg-dark mb-3";
                }
                if (item.Category.CategoryName == "Seyahat")
                {
                    color = "post-category text-white  bg-secondary";
                }
                if (item.Category.CategoryName == "Spor")
                {
                    color = "post-category text-white  bg-secondary";
                }
                <div class="col-lg-4 mb-4">
                    <div class="entry2">
                        <a href="/Blog/BlogDetails/@item.BlogID"><img src="@item.blogImage" style="height:250px;width:350px" alt="Image" class="img-fluid rounded"></a>
                        <div class="excerpt">
                            <span class="@color">@item.Category.CategoryName</span>
                            <h2><a href="/Blog/BlogDetails/@item.BlogID">@item.BlogTitle</a></h2>
                            <div class="post-meta align-items-center text-left clearfix">
                                <figure class="author-figure mb-0 mr-3 float-left"><img src="@item.Author.AuthorImage" alt="Image" class="img-fluid"></figure>
                                <span class="d-inline-block mt-1"><a href="#">@item.Author.AuthorName</a></span>
                                <span>&nbsp;-&nbsp;@item.BlogDate.ToShortDateString()</span>
                            </div>
                            <p>@item.BlogContent.Substring(0, item.BlogContent.Substring(0, 200).LastIndexOf(" "))</p>
                            <p><a href="/Blog/BlogDetails/@item.BlogID">Devamını Oku...</a></p>
                        </div>
                    </div>
                </div>}
        </div>
    </div>
</div>
@Html.Action("AddMail", "MailSubscribe") 
@Html.Action("Footer", "About")